.aliados{
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

    color: #612f8c;
  
  }
  .cont-alia{
    padding: 30px;
    text-align: center;
  }
  .img-aliados{
    object-fit: contain;
  }
.container-aliados{
  padding: 10px;
}