/* Estilos generales */

.bg-cont-card{
  background-color: rgb(244, 237, 244);

}
  .title-card {
    text-transform: uppercase;
    color: #482368;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 70px;
    font-size: 46px;
  }
  
  .img-card {
    
    height: 15em;
    border-radius: 30px;
    margin: 23px;
    object-fit: cover; 
   
  }
  
  .btn-card {
    margin-top: 20px;
    padding: 4px 20px;
    background-color: #482368;
    font-size: 17px;
    color: #fff;
    border-color: #482368;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 8; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.5s;
  }
  
  .btn-card:hover {
    background-color: #de8f30;
    color: #fff;
    border-color: #de8f30;
  }
  
  
.subtitle{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(82, 85, 85)!important;
  font-size: 23px;

}
.card-title{
  color: black;
  font-weight: 905;
  font-family:Arial, Helvetica, sans-serif;
}
.nivel{
  background-color: #612f8c;
  color: #fff;
  text-transform:uppercase;
  display: inline-block;
  font-size: 20px;
  

}
.title-card{
  font-weight: bold;
  font-size: 40px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%; 
  }
}
.card {

  width: 300px; 
  margin: 20px; 
}


  